.Navbar{
    background-color: rgb(81, 81, 81);
    position: fixed;
    margin-bottom: 150px;
    left: 2%;
    width: 295px;
    height: 400px;
    align-items: center;    
    border-radius: 2%;
  }

  .list{
    position: relative;
  }
  
  #homeNav{
    color: white;
    font-size: 60px;
    text-decoration: none;
  }

  #profileNav{
    color: white;
    font-size: 60px;
    text-decoration: none;
  }
  

  #groupsNav{
    color: white;
    font-size: 60px;    
    text-decoration: none;
  }

  #aboutNav{
    color: white;
    font-size: 60px;
    text-decoration: none;
  }