.profileCard{
    position: relative;
    background-color: rgb(81, 81, 81);
    height: 80px;
    width: 500px;
    margin: 0 auto;
    text-align: center;
    border-radius: 2%;
    margin-bottom: 50px;
    margin-top: 50px;
}

#profileName{
    color:white;
    position: relative;
    margin: 0 auto;
    font-size: 50px;
}

#profilePicCard{
    position: relative;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-right: 380px;
    margin-top:-53px;
    z-index: 1;
}

.userGroups{
    background-color: rgb(81, 81, 81);
    position: relative;
    top: -20px;
    left: 128%;
    width: 295px;
    height: 400px;
    align-items: center;    
    border-radius: 2%;
    text-align: center;
}

#groupListHeader{
    color: white;
    font-size: 60px;
    text-decoration: underline;
}

.groupList{
    position:relative;
    align-items: center;
    color:white;
    font-size: 50px;
    text-align: center;
    margin-right: 40px;
    margin-top: -25px;

}
