.default{
    background: #243447;
    transition: 1s;
    padding-top: 10px;
}

.postBox{
    margin: 0 auto;
    width: 700px;
    border-style: solid;
    border-width: thin;
    position:relative;
    border-color: grey; 
    transition: 1s;    
  }

  .userInfo{
    margin: 0 auto;
    position: relative;
    color: white;
    z-index: 0;
    height: 100px;
  }
  
  #profilePic{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-left: 20px;
    margin-top: 30px;
  }
  
  #username{
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    position: relative;
    left: 100px;
    top: -95px;
    width: 280px;
    font-size:0.92vw;
    transition: 1s;
    font-size: 45px;
  }
  
  .postContent{
    position: relative;
    bottom:130px ;
    z-index: 1;
    overflow: auto;
  }
  
  #post{
    color: white;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    font-size: 25px;
    width: 490px;
    position: relative;
    margin: 0 auto;
    transition: 1s;
    padding-bottom: 20px;
  }
  
  .Icons{
    width: 500px;
    position: relative;
    left: 50px;
    bottom: 150px;
    background-color: aquamarine;
  }
  
  
  #clearHeart{
    z-index: 1;
    position: relative;
    left: 370px;
    height: 50px;
    width: 50px;
  }
  
  .numbers{
  font-family: Verdana, Tahoma, sans-serif;
  font-size:10px;
  position: relative;
  background-color: aqua;
  height: 50px;
  width: 50px;
  color: black;
  }
  
  .Pictures{
    position: relative;
    align-content: center;
    margin: 0 auto;
    z-index: 2;
  }
  
  #picture{
    border-radius: 10%;
    height: 400px;
    width: 550px;
    position: relative;
  }
  
  #picture2{
    border-radius: 10%;
    height: 400px;
    width: 550px;
  }
  